<div class="totalcontainer">
  <div class="row header">
    <div class="row titlebar">
      <div class="mrla title kamran table">صفحه ی اصلی</div>
    </div>
    <div class="row links">
      <ul class="mrla table lotus">
        <li><a href="#/noteManagement">مدیریت یادداشت ها</a></li>
        <li><a href="#/statusManagement">مدیریت وضعیت ها</a></li>
        <li><a href="#/log">گزارش</a></li>
      </ul>
    </div>
  </div>
  <div class="row notebox"></div>
  <div class="row changestatus"></div>
</div>